/* body {
  background-color: rgb(254, 250, 230);
} */

.Card {
  margin: 0 auto 10px;
}
.el-card {
  overflow: auto;
  --el-card-padding: 16px;
}

.del-button {
  position: relative;
  right: -95px;
  top: -117px;
}

.el-descriptions__body
  .el-descriptions__table:not(.is-bordered)
  .el-descriptions__cell {
  padding-bottom: 0;
}

.el-descriptions__header {
  margin-bottom: 4px;
}

.el-descriptions__label:not(.is-bordered-label) {
  margin-right: 3px;
}
